body{
	background-color: #E6D1BE;
}
/*header*/
header{
	background-color: #ffffff;
}
#logoHeader{
	width: 100%;
}
/*main*/
main{
	padding-top: 8px;
	padding-bottom: 8px;
}
/*breadcrumbs*/
#breadcrumbs{
	padding-left: 8px;
}
#breadcrumbs li{
 	display: inline-block;
    font-family: Avenir;
    font-size: 15px;
    margin-left: 4px;
    margin-right: 4px;
}
#breadcrumbs a{
  	text-decoration: none;
  	color: #000000;
}
#breadcrumbs a:hover{
  	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
/*titels*/
h1 .subpagina, h2 .subpagina{
	text-align: center;
}
h1{
	font-size: 48px;
	margin-bottom: 32px;
	margin-top: 32px;
	text-shadow: none;
}
h2{
	font-size: 32px;
	color: #000000;
	text-shadow: none;
	text-align: left;
	margin-left: 32px;
}
/*tekst uitleg*/
.tekstSubpagina{
	font-family: Avenir;
	text-shadow: none;
	font-size: 20px;
	width: 80%;
	margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 32px;
	margin-left: 32px;
	text-align: justify;
	color: #000000;
}
/*foto van code*/
.code img{
	max-width: 600px;
	max-height: 440px;
	float: left;
}
.arduinoFilm{
	height: 440px;
	float: left;
	margin-top: 0px;
}
#opdracht{
	width: 100%;
	height: 640px;
}
#opdracht8{
	width: 100%;
	height: 900px;}

#formule{
	margin-left: 32px;
	width: 120px;
}
